<a href="https://colab.research.google.com/github/anitha67/100DaysofMLCode/blob/master/arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
l=[2200,2350,2600,2130,2190]

In [3]:
print("In Feb, how many dollars you spent extra compare to January:",l[1]-l[0])

In Feb, how many dollars you spent extra compare to January: 150

In [5]:
print("total expense in first quarter (first three months) of the year:",l[0]+l[1]+l[2])

total expense in first quarter (first three months) of the year: 7150

In [6]:
print("Did I spent 2000$ in any month? ", 2000 in l)

Did I spent 2000$ in any month?  False

June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [7]:
l.append(1980)

In [8]:
print("Expenses at the end of June:",l)

Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]

You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

In [9]:
l[3]=l[3]-200

In [10]:
print(l)

[2200, 2350, 2600, 1930, 2190, 1980]

2.exercise

In [11]:
heros=['spider man','thor','hulk','iron man','captain america']
#length of the list
len(heros)

5

2. Add 'black panther' at the end of this list

In [13]:
heros.append('Black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'Black panther', 'Black panther']

3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'

In [16]:
heros.remove('Black panther')
heros.insert(3,'Black panther')
print(heros)

['spider man', 'thor', 'hulk', 'Black panther', 'iron man', 'captain america', 'Black panther']

Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [17]:
heros[1:3]=['doctor strange']
print(heros)

['spider man', 'doctor strange', 'Black panther', 'iron man', 'captain america', 'Black panther']

 Sort the list in alphabetical order

In [19]:
heros.sort()
print(heros)

['Black panther', 'Black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

odd or even numbers

In [20]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 7
Odd numbers:  [1, 3, 5]